<a href="https://colab.research.google.com/github/AbdulxoliqMirzayev/Malumotlarga-Ishlov-berish/blob/main/Uzun_ma%CA%BClumotlar_to%CA%BBplamidan_keng_ma%CA%BClumotlar_to%CA%BBplamiga.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
!git clone https://github.com/MansurCompAI/Practicum_Datasets.git

Cloning into 'Practicum_Datasets'...
remote: Enumerating objects: 60, done.
remote: Counting objects: 100% (60/60), done.
remote: Compressing objects: 100% (55/55), done.
remote: Total 60 (delta 17), reused 16 (delta 1), pack-reused 0
Receiving objects: 100% (60/60), 20.24 MiB | 7.14 MiB/s, done.
Resolving deltas: 100% (17/17), done.

In [3]:
movies = pd.read_csv('/content/Practicum_Datasets/IMDb/IMDb_movies.csv')

<ipython-input-3-393e1ffdf020>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('/content/Practicum_Datasets/IMDb/IMDb_movies.csv')

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   imdb_title_id       85855 non-null  object
 1   title               85855 non-null  object
 2   original_title      85855 non-null  object
 3   year                85855 non-null  object
 4   date_published      85855 non-null  object
 5   genre               85855 non-null  object
 6   duration            85855 non-null  int64
 7   country             85791 non-null  object
 8   language            84954 non-null  object
 9   director            85768 non-null  object
 10  writer              84283 non-null  object
 11  production_company  81400 non-null  object
 12  actors              85786 non-null  object
 13  description         83740 non-null  object
 14  budget              23710 non-null  object
dtypes: int64(1), object(14)
memory usage: 9.8+ MB

In [6]:
ratings = pd.read_csv('/content/Practicum_Datasets/IMDb/IMDb_ratings.csv')

In [7]:
ratings

      imdb_title_id  weighted_average_vote  total_votes
0         tt0000009                    5.9          154
1         tt0000574                    6.1          589
2         tt0001892                    5.8          188
3         tt0002101                    5.2          446
4         tt0002130                    7.0         2237
...             ...                    ...          ...
85850     tt9908390                    5.3          398
85851     tt9911196                    7.7          724
85852     tt9911774                    7.9          265
85853     tt9914286                    6.4          194
85854     tt9914942                    6.7          102

[85855 rows x 3 columns]

In [9]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85855 non-null  object
 1   weighted_average_vote  85855 non-null  float64
 2   total_votes            85855 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.0+ MB

In [10]:
movies.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,budget
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,NaN,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,NaN
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,$ 2250
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,NaN
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,$ 45000
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,NaN

In [12]:
ratings.head()

  imdb_title_id  weighted_average_vote  total_votes
0     tt0000009                    5.9          154
1     tt0000574                    6.1          589
2     tt0001892                    5.8          188
3     tt0002101                    5.2          446
4     tt0002130                    7.0         2237

In [13]:
movies_ratings = pd.merge(movies , ratings)

In [14]:
movies_ratings.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,budget,weighted_average_vote,total_votes
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,NaN,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,NaN,5.9,154
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,$ 2250,6.1,589
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,NaN,5.8,188
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,$ 45000,5.2,446
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,NaN,7.0,2237

In [17]:
extracted = movies_ratings[['title', 'year', 'weighted_average_vote']]

In [18]:
extracted

                                title  year  weighted_average_vote
0                          Miss Jerry  1894                    5.9
1         The Story of the Kelly Gang  1906                    6.1
2                      Den sorte drøm  1911                    5.8
3                           Cleopatra  1912                    5.2
4                           L'Inferno  1911                    7.0
...                               ...   ...                    ...
85850                         Le lion  2020                    5.3
85851  De Beentjes van Sint-Hildegard  2020                    7.7
85852       Padmavyuhathile Abhimanyu  2019                    7.9
85853               Sokagin Çocuklari  2019                    6.4
85854      La vida sense la Sara Amat  2019                    6.7

[85855 rows x 3 columns]

In [19]:
A = pd.DataFrame({'Transport':['poesd','avtomabil', 'kema'], 'Tezligi':['70','180','45']})

In [20]:
A

   Transport Tezligi
0      poesd      70
1  avtomabil     180
2       kema      45

In [21]:
B = pd.DataFrame({'Transport':['poesd','avtomabil', 'tramvay'], 'Tezligi':['98000','10000','65000']})

In [22]:
B

   Transport Tezligi
0      poesd   98000
1  avtomabil   10000
2    tramvay   65000

In [25]:
marged = pd.merge(A , B)

In [26]:
marged

Empty DataFrame
Columns: [Transport, Tezligi]
Index: []

In [27]:
marget_outer = pd.merge(A , B , how='outer')

In [28]:
marget_outer

   Transport Tezligi
0      poesd      70
1  avtomabil     180
2       kema      45
3      poesd   98000
4  avtomabil   10000
5    tramvay   65000

In [30]:
bank = pd.read_csv('/content/Practicum_Datasets/bank.csv', delimiter=";")
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [31]:
bank1, bank2 = bank[:2521], bank[2521:]

In [32]:
bank1

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2516,30,management,married,tertiary,no,1882,yes,no,cellular,11,aug,249,5,-1,0,unknown,no
2517,48,blue-collar,married,unknown,no,131,yes,no,unknown,6,may,189,1,-1,0,unknown,no
2518,30,technician,single,secondary,no,175,no,no,cellular,25,aug,167,4,-1,0,unknown,no
2519,43,technician,single,tertiary,yes,0,no,no,cellular,29,aug,73,4,-1,0,unknown,no
2520,38,management,divorced,tertiary,no,4425,yes,no,unknown,30,may,162,1,-1,0,unknown,no

In [33]:
bank2

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
2521,46,unemployed,married,secondary,no,3533,yes,no,cellular,12,aug,235,2,-1,0,unknown,no
2522,59,blue-collar,divorced,secondary,no,3573,no,no,cellular,15,may,44,1,-1,0,unknown,no
2523,44,management,divorced,tertiary,no,476,yes,yes,unknown,26,may,127,2,-1,0,unknown,no
2524,35,blue-collar,married,secondary,no,1257,yes,no,cellular,20,apr,93,3,329,7,failure,no
2525,55,blue-collar,married,unknown,no,23,no,no,cellular,30,jan,143,1,2,3,other,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [34]:
pd.concat([bank1, bank2]) # ikkita datasetni ulash

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [35]:
bank1, bank2, bank3 = bank[:1000], bank[1000:2000], bank[2000:]
bank1

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,38,blue-collar,married,secondary,no,1370,yes,no,cellular,11,may,472,2,-1,0,unknown,no
996,58,management,married,secondary,no,37,no,no,cellular,18,aug,84,11,-1,0,unknown,no
997,34,management,single,tertiary,no,673,yes,yes,cellular,20,nov,271,1,184,1,failure,no
998,40,services,married,secondary,no,-342,yes,no,unknown,26,may,754,1,-1,0,unknown,no
999,20,student,single,secondary,no,291,no,no,telephone,11,may,172,5,371,5,failure,no

In [36]:
pd.concat([bank1, bank2, bank3])

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [38]:
data  = pd.read_csv('/content/Practicum_Datasets/data_pivot.csv')
data

                              date     item      value
0    1959-03-31 23:59:59.999999999  realgdp   2710.349
1    1959-03-31 23:59:59.999999999     infl      0.000
2    1959-03-31 23:59:59.999999999    unemp      5.800
3    1959-06-30 23:59:59.999999999  realgdp   2778.801
4    1959-06-30 23:59:59.999999999     infl      2.340
..                             ...      ...        ...
604  2009-06-30 23:59:59.999999999     infl      3.370
605  2009-06-30 23:59:59.999999999    unemp      9.200
606  2009-09-30 23:59:59.999999999  realgdp  12990.341
607  2009-09-30 23:59:59.999999999     infl      3.560
608  2009-09-30 23:59:59.999999999    unemp      9.600

[609 rows x 3 columns]

In [40]:
pivoted_data = data.pivot('date', 'item', 'value')
pivoted_data

TypeError: DataFrame.pivot() takes 1 positional argument but 4 were given

In [41]:
data['value2'] = np.random.randn(len(data))
data

                              date     item      value    value2
0    1959-03-31 23:59:59.999999999  realgdp   2710.349  1.013991
1    1959-03-31 23:59:59.999999999     infl      0.000  0.639269
2    1959-03-31 23:59:59.999999999    unemp      5.800 -1.497435
3    1959-06-30 23:59:59.999999999  realgdp   2778.801  0.809453
4    1959-06-30 23:59:59.999999999     infl      2.340  0.249976
..                             ...      ...        ...       ...
604  2009-06-30 23:59:59.999999999     infl      3.370 -0.365398
605  2009-06-30 23:59:59.999999999    unemp      9.200 -0.144766
606  2009-09-30 23:59:59.999999999  realgdp  12990.341 -0.061869
607  2009-09-30 23:59:59.999999999     infl      3.560  0.246298
608  2009-09-30 23:59:59.999999999    unemp      9.600 -0.289078

[609 rows x 4 columns]

In [43]:
pivoted_data = data.pivot(index='date', columns='item')
pivoted_data

                              value                     value2            \
item                           infl    realgdp unemp      infl   realgdp
date
1959-03-31 23:59:59.999999999  0.00   2710.349   5.8  0.639269  1.013991
1959-06-30 23:59:59.999999999  2.34   2778.801   5.1  0.249976  0.809453
1959-09-30 23:59:59.999999999  2.74   2775.488   5.3 -1.532954  1.922191
1959-12-31 23:59:59.999999999  0.27   2785.204   5.6  1.822169  0.857812
1960-03-31 23:59:59.999999999  2.31   2847.699   5.2 -1.145594 -0.117084
...                             ...        ...   ...       ...       ...
2008-09-30 23:59:59.999999999 -3.16  13324.600   6.0 -1.148208 -0.963026
2008-12-31 23:59:59.999999999 -8.79  13141.920   6.9 -1.087329  0.763574
2009-03-31 23:59:59.999999999  0.94  12925.410   8.1  0.570226  0.300540
2009-06-30 23:59:59.999999999  3.37  12901.504   9.2 -0.365398 -0.295415
2009-09-30 23:59:59.999999999  3.56  12990.341   9.6  0.246298 -0.061869


item                              unemp
date
1959-03-31 23:59:59.999999999 -1.497435
1959-06-30 23:59:59.999999999  0.463218
1959-09-30 23:59:59.999999999 -0.492718
1959-12-31 23:59:59.999999999 -2.019665
1960-03-31 23:59:59.999999999  2.408975
...                                 ...
2008-09-30 23:59:59.999999999  0.627580
2008-12-31 23:59:59.999999999  0.162753
2009-03-31 23:59:59.999999999  0.285741
2009-06-30 23:59:59.999999999 -0.144766
2009-09-30 23:59:59.999999999 -0.289078

[203 rows x 6 columns]

In [44]:
pivoted_data['value'].head(10)

item                           infl   realgdp  unemp
date
1959-03-31 23:59:59.999999999  0.00  2710.349    5.8
1959-06-30 23:59:59.999999999  2.34  2778.801    5.1
1959-09-30 23:59:59.999999999  2.74  2775.488    5.3
1959-12-31 23:59:59.999999999  0.27  2785.204    5.6
1960-03-31 23:59:59.999999999  2.31  2847.699    5.2
1960-06-30 23:59:59.999999999  0.14  2834.390    5.2
1960-09-30 23:59:59.999999999  2.70  2839.022    5.6
1960-12-31 23:59:59.999999999  1.21  2802.616    6.3
1961-03-31 23:59:59.999999999 -0.40  2819.264    6.8
1961-06-30 23:59:59.999999999  1.47  2872.005    7.0